:root {
  --primary-color: rgb(86, 155, 211);
}

p {
  margin: 0;
}

.cv {
  height: 80vh;
  /* 7 / 10 is roughly ration of A4 paper */
  width: calc((7 / 10) * 80vh);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 6px -3px;
  margin: 10vh auto;
  padding: 2rem;
  font-size: 0.8rem;
}

.cv-content {
  overflow: hidden;
  max-height: 100%;
}

hr {
  border-color: var(--primary-color);
}

.basic h1 {
  margin-bottom: 0;
  font-size: 1.5em;
}

.info div {
  display: grid;
  grid-auto-flow: column;
}

.work {
  display: grid;
  gap: 1rem;
}

.work h3 {
  margin-bottom: 0rem;
}

.work div.work-section {
  display: block;
}

.work-section {
  background-color: aliceblue;
  padding: 1rem;
  border-bottom: 2px solid blue;
}

.work-section h4 {
  margin: 0 0 1rem 0;
}
