.input-prompt {
  display: grid;
  grid-template-rows: auto auto 1fr;
  justify-items: center;
  align-content: start;
  gap: 1rem;

  position: relative;
  min-height: 35rem;
  max-height: 35rem;
  margin-top: 10vh;
}

.creation-input {
  margin-left: auto;
  margin-right: auto;
  border: 5px solid mediumseagreen;
  border-top-width: 15px;
  border-radius: 20px;
  max-width: 50rem;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 1rem;

  font-size: 1.7rem;
}

form.edu-form {
  grid-template-columns: 1fr;
}

label {
  justify-self: center;
}

input {
  font-size: inherit;
  max-width: 14rem;
}

input and :not(.input-div input) {
  min-width: 2rem;
  justify-self: center;
}

.input-div {
  display: flex;
  align-items: center;
  justify-self: center;
}

.input-div label {
  text-wrap: nowrap;
}

.grid-wide {
  grid-column: 1 / -1;
  justify-self: center;
}

label.justify-mid {
  justify-self: end;
}

input.justify-mid {
  justify-self: start;
}

.buttons-div {
  position: absolute;
  display: flex;
  gap: 1rem;
  right: 1.5em;
  bottom: 1.5em;
  font-size: 1.3em;
}

button {
  border: none;
  background-color: rgb(92, 157, 255);
  border-bottom: 4px solid rgb(59, 103, 168);
  padding: 0.6em;
  border-radius: 0.5rem;
}

button:active {
  background-color: rgb(59, 103, 168);
  border-bottom: none;
  align-self: flex-end;
}

.buttons-div button.submit,
.add-button {
  background-color: rgb(72, 187, 72);
  border-bottom-color: rgb(52, 134, 52);
}

.buttons-div button.submit:active,
.add-button:active {
  background-color: rgb(52, 134, 52);
  border-bottom: none;
}

.buttons-div button.cancel {
  background-color: #9d9d9d;
  border-bottom-color: rgb(88, 88, 88);
}

.study-years-div {
  display: flex;
  font-size: 0.7em;
  flex-wrap: nowrap;
  gap: 2rem;
}

.study-years-div input {
  max-width: 6.5ch;
}

.work-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 70%;
}

.experience-div {
  min-width: 80%;
  display: grid;
  align-self: start;
  gap: 1rem 0;
  overflow: auto;
  max-height: 65%;
}

.unit-div {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 3fr 4fr;
  gap: 1rem 0.7rem;

  position: absolute;
  top: 6rem;
  font-size: 1rem;
  background-color: white;
  border: 4px solid mediumseagreen;
  border-radius: 1.5rem;
  padding: 1rem 3rem;
}

.unit-div .buttons-div {
  position: static;
  grid-column: 2;
  justify-self: end;
  font-size: 1em;
}
.unit-div label {
  justify-self: end;
}

.unit-div input,
.unit-div textarea {
  max-width: 50ch;
}

.add-button-div {
  display: flex;
  justify-self: end;
  align-items: end;
}

.work-unit {
  background-color: #dbdbdb;
  padding: 0.7rem;
  grid-column: 1 / -1;
  border: 1px solid #9d9d9d;
  border-radius: 1rem;
  border-left: 6px solid #9d9d9d;
  border-bottom: 6px solid #9d9d9d;
}

.work-unit h4,
.work-unit h6,
.work-unit p {
  /* font-size: 1em; */
  margin: 0;
}

.work-unit h6,
.work-unit p {
  font-size: 0.8em;
}
